:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background: linear-gradient(
    to bottom right,
    #f5f3ff,  /* purple-50  */
    #fdf2f8,  /* pink-50    */
    #eef2ff   /* indigo-50  */
  );

  padding: 24px;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  
}

h2 {
  color: #333;
  margin-bottom: 10px;
}

app-book-form, app-book-list {
  width: 100%;
  max-width: 600px;
}
