div {
    margin: 0 auto;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-direction: column;
    padding: 24px;
    border-radius: 25px;
    border: 1px solid #8c8c8c;
}
input {
    border-radius: 12px;
    border: 1px solid #8c8c8c;
    padding: 12px 8px;
    min-width: 300px;
    color: #262626;
}
p{
    color: #262626;
    font-size: 16px;
    margin-bottom: 0;
}